//header spans
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  20%,
  60% {
    transform: translate3d(0, 0, 0);
    font-size: 5.5rem;
  }
  100% {
    transform: translate3d(0, 0, 0);
    font-size: 5rem;
  }
}

@keyframes showBottom {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/////////////////////////////////////////////
//responive header video-box
@keyframes changeWidthLarge {
  100% {
    padding: 0 15rem;
    width: 93.75em;
  }
}
@keyframes changeWidthMedium {
  100% {
    padding: 0 12rem;
    width: 90vw;
  }
}
@keyframes changeWidthSmall {
  100% {
    width: 100vw;
  }
}
//////////////////////////////////
// header spans

@keyframes changeFontSize {
  100% {
    font-size: 5rem;
  }
}
////////////////////////
// width of header line between spans
@keyframes changeWidth-1 {
  100% {
    width: 40rem;
  }
}

@keyframes changeWidth-2 {
  100% {
    width: 50rem;
  }
}
///////////////////////////
// header video
@keyframes showVideoRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
