@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  20%,
  60% {
    transform: translate3d(0, 0, 0);
    font-size: 6rem;
  }
  100% {
    transform: translate3d(0, 0, 0);
    font-size: 5rem;
  }
}

@keyframes changeWidth {
  0% {
    width: 80rem;
  }
  100% {
    width: 60rem;
  }
}

@keyframes goLeft {
  80% {
    left: 50%;
  }
  100% {
    left: 30%;
  }
}
