@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  20%,
  60% {
    transform: translate3d(0, 0, 0);
    font-size: 6rem;
  }
  100% {
    transform: translate3d(0, 0, 0);
    font-size: 5rem;
  }
}

@keyframes changeWidth-1 {
  100% {
    padding: 0 15rem;
    width: 1500px;
  }
}

@keyframes changeFontSize {
  100% {
    font-size: 5rem;
  }
}

@keyframes changeWidth-2 {
  100% {
    width: 50rem;
  }
}

@keyframes showPhotoRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
