
// $color-secondary-light:
// $color-secondary-dark:

// $color-tertiary-light:
// $color-tertiary-dark:

$color-white: rgb(255, 255, 255);
$color-grey-light-1: #e5e5e5;
$color-grey-light-2: #d4d4d4;

$color-beige-1: #ecdfc8;
$color-beige-2: #fff0d5;

$color-grey-dark-1: #363835;
$color-grey-dark-2: #777;
$color-grey-dark-3: #a29d99;

$color-black: #2e2e2ed7;

//font
$default-font-size: 1.6rem;
