$color-primary: #7c4c2a;
$color-primary-light: #ae5b29;
$color-primary-dark: #512d1f;

// $color-secondary-light:
// $color-secondary-dark:

// $color-tertiary-light:
// $color-tertiary-dark:

$color-white: #fafafa;
$color-grey-light-1: #e5e5e5;
$color-grey-light-2: #d4d4d4;

$color-beige-1: #ecdfc8;
$color-beige-2: #eee2ce;

$color-grey-dark-1: #363835;
$color-grey-dark-2: #777;
$color-grey-dark-3: #a29d99;

$color-black: #2e2e2e;

//font
$default-font-size: 1.6rem;

// font-family: 'Lato', sans-serif;
// font-family: 'Kaushan Script', cursive;
