.collections {
    &__container {
        margin: 0 auto;
        padding-top: 15rem;
        display: flex;
        width: 85vw;

        @include respond (sm) {
            width: 90vw;
        }
        @include respond (tab) {
            width: 100vw;

        }
    }
    &__gallery {

        &--photo:not(:last-child) {
            margin-right: 3rem;
        }

        &--text {
            font-weight: 300;
            margin: 2rem 0;
            font-size: 2.4rem;
            font-family: Lato;
        }
        //button check it out
        &--button {
            color: $color-black;
            position: relative;
            z-index: 0;
            display: inline-block;
            transition: color 0.5s 0.15s,
                        transform 0.2s;
            padding: 1rem 2rem;

            &::after {
                background-color: $color-black;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 1px;
                height: 90%;
                transition: all 0.5s cubic-bezier(.56,.08,.08,.83);;
            }

            &:hover {
                color: $color-white;
            }


            &:hover::after {
                width: 85%;
            }

            &:active {
                transform: scaleX(0);
            }
        }

        &--link {
            color: inherit;
            position: relative;
            z-index: 1;
            text-decoration: none;
            text-transform: uppercase;
            padding: 2rem 3rem;
            padding-left: 0;
        }
    }

    &__photo {
        flex-basis: 70%;

        @include respond (tab) {
            width: 90%;
            margin: 0 auto;
        }
    }

    &__text {
        font-family: Monsterrat;
        flex-basis: 30%;
        padding: 5rem;
        font-size: 4.5rem;
        line-height: 1.15;

        @include respond (md) {
            font-size: 4.2rem;
        }

        @include respond (sm) {
            font-size: 3.8rem;
        }

        @include respond (tab) {
            width: 90%;
        }



        display: flex;
        flex-direction: column;
        justify-content: center;

        &--primary {
            font-weight: 700;
            text-transform: uppercase;
            font-size: larger;
        }

        &--sub {
            font-weight: 300;
            margin: 2rem;
            font-size: 3rem;
            font-family: Lato;
            list-style-type: "- ";

            &>li:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
        &--small {
            font-size: 2rem;
        }

        //button
        &--buy {
            margin: 10rem 0 0 0;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
    }
}