.header {
  color: $color-black;
  font-family: Montserrat, Arial, sans-serif;
  height: 80rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80rem;
  background-color: $color-beige-1;
  padding: 0 5rem;
  margin: 2rem 0 20rem;

  animation: changeWidth-1 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  & > * {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 60rem;
  }

  &__element {
    font-size: 6rem;
    padding: 1rem 2rem;
    position: absolute;
    line-height: 1.25;
    font-weight: 300;
  }
  &__top {
    .header__text {
      display: block;
    }
    .header__element {
      animation: showTopText 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      bottom: 0;
      transform: translate(0, 100%);

      & > :first-child {
        color: $color-grey-dark-1;
        font-size: 10rem;
        font-weight: 700;
      }
      & > :last-child {
        animation: changeFontSize 0.5s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
      }
    }
  }

  &__line {
    height: 0.5rem;
    width: 60rem;
    margin: 0 2rem;
    display: block;
    background-color: $color-black;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    animation: changeWidth-2 0.8s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  &__bottom {
    bottom: 0;

    .header__element {
      animation: showBottomText 2s;
      animation-delay: 1.75s;
      animation-fill-mode: forwards;
      top: 0;
      transform: translate(0, -100%);
      font-size: 5.5rem;
    }
  }
  &__video-box {
    position: absolute;
    right: 5rem;
    top: 50%;
    width: 500px;
    height: 90%;
    transform: translateY(-50%);

      &--img-0,
      &--img-1,
      &--img-2 {
        display: none;
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        animation: showPhotoRight 1.2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }
    }

    &__video {
      position: relative;
      overflow: hidden;
      transform: translateX(-100%);
      animation: showPhotoRight 1.2s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      width: 100%;
      height: 100%;

      &--src:hover {
        transform: scale(1.2);
      }

      &--parahraph {
        display: block;
        @include centering;
        font-size: 3rem;
        color: white;
        opacity: 0;
      }


    }

    &__photo {
      position: absolute;

      &-img {
        width: 100%;
        height: 100%;
      }
      &--0 {
        width: 320px;
        height: 400px;
        bottom: -25%;
        left: -5vw;
      }
    }

  }

