.header {
  color: $color-black;
  font-family: Montserrat, Arial, sans-serif;
  height: 80rem;
  @include centering;
  width: 80rem;
  background-color: $color-beige-1;
  padding: 0 5rem;

  animation: changeWidth-1 0.65s, goLeft 2.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  & > * {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 60rem;
  }

  &__element {
    font-size: 6rem;
    padding: 1rem 0;
    position: absolute;
    line-height: 1.25;
    font-weight: 300;
  }
  &__top {
    .header__text {
      display: block;
    }
    .header__element {
      animation: showTopText 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      bottom: 0;
      transform: translate(0, 100%);

      & > :first-child {
        color: $color-grey-dark-1;
        font-size: 10rem;
        font-weight: 700;
      }
      & > :last-child {
        animation: changeFontSize 0.5s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
      }
    }
  }

  &__line {
    height: 0.5rem;
    width: 60rem;
    display: block;
    background-color: $color-black;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    animation: changeWidth-2 0.8s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  &__bottom {
    bottom: 0;

    .header__element {
      animation: showBottomText 2s;
      animation-delay: 1.75s;
      animation-fill-mode: forwards;
      top: 0;
      transform: translate(0, -100%);
    }
  }
  &__slider--0,
  &__slider--1,
  &__slider--2 {
    display: none;
    position: absolute;
    overflow: hidden;
    right: 5rem;
    top: 50%;
    width: 500px;
    height: 90%;
    transform: translateX(100%);
      animation: showPhotoRight 1s;
      animation-fill-mode: forwards;
  }
  &__slider--img {
    width: 100%;
    height: 100%;
  }
}
