.header {
  color: $color-black;
  font-family: Montserrat, Arial, sans-serif;
  height: 80rem;
  @include centering;
  width: 80rem;
  background-color: $color-beige-1;
  padding: 0 5rem;

  @media only screen and (max-width: 120em) {
    animation-name: changeWidthLarge;
  };

  @media only screen and (max-width: 93.75em) {
    animation-name: changeWidthMedium;
  };

  @include respond(sm) {
    animation-name: none;
    width: 100vw;
    height: 100%;
  }
  @include respond(tab) {
    padding: 0;
    color: $color-white;
    background:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12)),
    url('https://static.zara.net/photos//mkt/spots/ss20-north-traveler-man/layout-desktop-06//look13-traveler-man-look13_0.jpg?ts=1583239117404&imwidth=964');
    background-size: cover;
  }


  // @media only screen and (max-width: 120em) {
  //   animation: changeWidthSmall;
  // };

  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  & > * {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 60rem;
  }

  &__element {
    font-size: 6rem;
    padding: 1rem 2rem;
    position: absolute;
    line-height: 1.25;
    font-weight: 300;
    z-index: 10;
  }

  &__top {
    z-index: 10;
    @include respond(tab) {
      left: 50%;
      transform: translateX(-50%);
    }


    .header__text {
      display: block;
    }
    .header__element {
      animation: showTopText 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      bottom: 0;
      transform: translate(0, 100%);

      & > :first-child {
        color: $color-grey-dark-1;
        font-size: 10rem;
        font-weight: 700;

        @include respond(tab) {
          color: $color-white;
        }

      }
      & > :last-child {
        animation: changeFontSize 0.5s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
      }
    }
  }

  &__line {
    height: 0.5rem;
    width: 60rem;
    margin: 0 2rem;
    display: block;
    background-color: $color-black;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    animation: changeWidth-2 0.8s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    z-index: 10;


    @include respond(tab) {
      width: 50rem;
      background-color: $color-white;
      left: 47%;
      transform: translateX(-50%);
      margin: 0;
    }
  }

  &__bottom {
    z-index: 10;
    bottom: 0;

    @include respond(tab) {
      left: 50%;
      transform: translateX(-50%);
    }

    .header__element {
      animation: showBottomText 2s;
      animation-delay: 1.75s;
      animation-fill-mode: forwards;
      top: 0;
      transform: translate(0, -100%);
      font-size: 5.5rem;
    }
  }
  &__video-box {
    position: absolute;
    right: 5rem;
    top: 50%;
    width: 50rem;
    height: 90%;
    transform: translateY(-50%);
    transition: 0.5s all;


    @media only screen and (max-width: 93.75em) {
      width: 45rem;
    };

    @include respond(sm) {
      height: 90vh;
    }
    @include respond(tab) {
      width: 100vw;
      height: auto;
      right: 0;
    }

      &--img-0,
      &--img-1,
      &--img-2 {
        display: none;
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        animation: showPhotoRight 1.2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }
    }

    &__video {
      position: relative;
      overflow: hidden;
      transform: translateX(-100%);
      animation: showVideoRight 1.2s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      height: 100%;
      width: auto;

      @include respond(tab) {
        filter: brightness(85%);

      }



      &--src:hover {
        transform: scale(1.2);
      }

      &--parahraph {
        display: block;
        @include centering;
        font-size: 3rem;
        color: white;
        opacity: 0;
      }
    }
  }

