.navigation {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 20;

    @include respond(phone) {
        flex-direction: column;
        justify-content: start;
        padding: 3rem;
    }

    @include respond(tab) {
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
    }



    &__button {
        text-transform: uppercase;
        padding: 5rem 3rem;
        font-size: 3.5rem;
        font-weight: 100;
        display: flex;
        align-items: center;
        overflow: hidden;
        animation: showBottom 0.5s;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
        transform: translateY(-100%);

        @include respond(phone) {
            transform: translateX(-200%);
            animation: showVideoRight 0.5s;
            animation-delay: 3.5s;
            animation-fill-mode: forwards;
            padding: 4rem 0;
        }
        @include respond(md) {
            font-size: 3.2rem;
        }


    }
    &__link:visited,
    &__link {
        text-decoration: none;
        color: inherit;
        transition: ease 0.3s all;
        text-shadow: 0 2px 8px rgba($color: #000000, $alpha: .12);
    }
    &__link:hover {
        transform: translateY(-0.5rem);
        text-shadow: 0 5px 10px rgba($color: #000000, $alpha: .2);
        font-size: 3.8rem;

        @include respond(md) {
            font-size: 3.5rem;
        }
    }
    &__link:active {
        transform: translateY(-0.2rem);
        text-shadow: 0 2px 6px rgba($color: #000000, $alpha: .2);
    }
}

.logo {
    font-family: roboto, sans-serif;
    position: fixed;
    z-index: 999;
    top: 5rem;
    left: 10rem;
    padding: 1rem;
    line-height: 1.25;
    transition: 0.5s all;

    &__main {
        transform: translateX(-100%);
        opacity: 0;
    }

    //animation
    &__active {
        opacity: 1;
        transform: translateX(0);
    }

    &__header {
        font-size: 9rem;
        font-weight: 900;
        opacity: 0.85;
    }

    &__link,
    &__link:visited,
    &__link:link {
        text-decoration: none;
        color: $color-black;
    }

    &__text {
        font-size: 2rem;
        padding: 0.5rem;
        text-transform: uppercase;
        font-weight: 100;
    }
}
